@forward 'vars';
@use 'sass:list';
@use '../../../core/src/styles/vars' as psv;
@use 'vars' as settings;

.psv-container {
    --psv-settings-plugin-loaded: true;
}

.psv-settings {
    position: absolute;
    bottom: calc(#{psv.$navbar-height} + #{psv.$navbar-margin});
    margin: settings.$margin;
    background: settings.$background;
    backdrop-filter: settings.$filter;
    box-shadow: settings.$shadow;
    border: settings.$border;
    border-radius: settings.$radius;
    font: settings.$font;
    color: settings.$text-color;
    z-index: psv.$navbar-zindex;
    opacity: 0;
    overflow: hidden;
    transition: opacity settings.$transition;

    &--open {
        opacity: 1;
    }

    &-list {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}

.psv-settings-item {
    height: settings.$item-height;
    padding: settings.$item-padding;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;

    &:hover {
        background: settings.$hover-background;
        color: settings.$hover-color;
    }

    &:focus-visible {
        outline: psv.$element-focus-outline;
        outline-offset: -#{list.nth(psv.$element-focus-outline, 1)};
    }

    *:not(:last-child) {
        margin-right: 1em;
    }

    &-label {
        flex: 1;
        font-weight: bold;
    }

    &-value {
        flex: none;
        display: flex;
    }

    &-icon {
        flex: none;
        height: 1em;
        width: 1em;

        svg {
            width: 100%;
            height: 100%;
            vertical-align: initial;
        }
    }

    &--header {
        border-bottom: 1px solid currentcolor;

        svg {
            transform: scaleX(-1);
        }
    }
}

.psv-settings-badge {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0.2em;
    padding: 0.2em 0.3em;
    background: settings.$badge-background;
    color: settings.$badge-text-color;
    font: settings.$badge-font;
}
