@use '../../../core/src/styles/vars' as psv;

$margin: 10px !default;
$radius: 10px !default;
$shadow: 0 0 5px rgb(var(--psv-shadow-color)) !default;
$button-size: 20px !default;
$button-padding: 7px !default;
$button-color: psv.$buttons-color !default;
$button-background: psv.$navbar-background !default;
$button-filter: psv.$navbar-filter !default;
$button-border: psv.$navbar-border !default;
$transition: 300ms ease-in-out !default;
