@forward 'vars';
@use 'sass:math';
@use '../../../core/src/styles/vars' as psv;
@use 'vars' as plan;

.psv-container {
    --psv-plan-plugin-loaded: true;
}

.psv-plan {
    position: absolute;
    margin: plan.$margin;
    z-index: psv.$ui-zindex;
    overflow: hidden;
    border-radius: plan.$radius;
    transition: all plan.$transition;
    box-shadow: plan.$shadow;
    max-width: calc(100% - #{plan.$margin * 2});
    max-height: calc(100% - #{plan.$margin * 2});

    @include psv.has-navbar {
        max-height: calc(100% - #{plan.$margin * 2} - #{psv.$navbar-height} - #{psv.$navbar-margin});
    }

    &__container {
        width: 100%;
        height: 100%;
        z-index: 0;
        transition: opacity plan.$transition;
    }

    &--collapsed &__button-close {
        opacity: 1;
        z-index: 1;
    }

    &--top-left {
        top: 0;
        left: 0;
    }

    &--top-right {
        top: 0;
        right: 0;
    }

    &--bottom-left {
        bottom: 0;
        left: 0;
    }

    &--bottom-right {
        bottom: 0;
        right: 0;
    }

    &--bottom-left, &--bottom-right {
        @include psv.has-navbar {
            bottom: calc(#{psv.$navbar-height} + #{psv.$navbar-margin});
        }
    }

    &__button {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        transform-origin: center;
        width: plan.$button-size;
        aspect-ratio: 1;
        padding: plan.$button-padding;
        background: plan.$button-background;
        backdrop-filter: plan.$button-filter;
        border: plan.$button-border;
        color: plan.$button-color;
        line-height: 0;
        cursor: pointer;
        transition: all plan.$transition;

        svg {
            width: 100%;
        }

        &--top-left {
            left: 0;
            top: 0;
            border-bottom-right-radius: plan.$radius;
        }

        &--top-right {
            right: 0;
            top: 0;
            border-bottom-left-radius: plan.$radius;
        }

        &--bottom-left {
            left: 0;
            bottom: 0;
            border-top-right-radius: plan.$radius;
        }

        &--bottom-right {
            right: 0;
            bottom: 0;
            border-top-left-radius: plan.$radius;
        }
    }

    &--collapsed {
        width: 0 !important;
        height: 0 !important;
    }

    &--maximized {
        width: calc(100% - #{plan.$margin * 2}) !important;
        height: calc(100% - #{plan.$margin * 2}) !important;
    }

    &__pin, &__spot {
        filter: drop-shadow(2px 2px 2px rgb(0, 0, 0, 0.5));

        & > * {
            transform-origin: center;
        }
    }

    &__spot {
        border-radius: 50%;
    }

    &__layers-select {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        border: none;
        opacity: 0;
        cursor: pointer;

        option[selected] {
            font-weight: bold;
        }
    }

    // Leaflet attribution
    .leaflet-bottom.leaflet-right {
        left: 0;
        display: flex;
        justify-content: center;
    }
}
