html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#photosphere {
  width: 100%;
  height: 100%;
}

.psv-button.custom-button {
  font-size: 22px;
  line-height: 20px;
}

.smart-popover-btn {
  position: relative;
  border-bottom: 1px dashed #767676;
  line-height: 1.25;
  display: inline-block;
}

.ps > article{
  background-color: transparent;
}