@forward 'vars';
@use 'sass:math';
@use '../../../core/src/styles/vars' as psv;
@use 'vars' as map;

@function round-to($value, $precision) {
    @return math.div(math.round($value * $precision), $precision);
}

.psv-container {
    --psv-map-plugin-loaded: true;
}

.psv-map {
    position: absolute;
    margin: map.$margin;
    z-index: psv.$ui-zindex;
    transition: all map.$transition;

    &__container {
        position: absolute;
        inset: 0;
        z-index: -1;
        background: map.$background;
        backdrop-filter: map.$filter;
        overflow: hidden;
        transition: all map.$transition;

        canvas {
            width: 100%;
            height: 100%;
        }
    }

    &--round &__container {
        border-radius: 50%;
        box-shadow: map.$shadow;
    }

    &--square {
        border-radius: map.$radius;
        box-shadow: map.$shadow;
        overflow: hidden;
    }

    &--top-left {
        top: 0;
        left: 0;
    }

    &--top-right {
        top: 0;
        right: 0;
    }

    &--bottom-left {
        bottom: 0;
        left: 0;
    }

    &--bottom-right {
        bottom: 0;
        right: 0;
    }

    &--bottom-left, &--bottom-right {
        @include psv.has-navbar {
            bottom: calc(#{psv.$navbar-height} + #{psv.$navbar-margin});
        }
    }

    &__overlay {
        position: absolute;
        inset: 0;
        pointer-events: none;
    }

    &__toolbar {
        position: absolute;
        bottom: 1em;
        left: calc(50% - 3em); // (padding * 2 + icon * 2 + text) / 2
        display: flex;
        justify-content: center;
        align-items: center;
        font: map.$toolbar-font;
        padding: 0.25em;
        border-radius: 100vmax;
        background: map.$toolbar-background;
        color: map.$toolbar-text-color;
        user-select: none;
        transition: opacity map.$transition;

        svg {
            height: 1em;
            cursor: pointer;
        }

        &-text {
            width: 3.5em;
            line-height: 1em;
            text-align: center;
        }
    }

    &__button {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: map.$button-size;
        aspect-ratio: 1;
        padding: map.$button-padding;
        background: map.$button-background;
        backdrop-filter: map.$button-filter;
        border: map.$button-border;
        color: map.$button-color;
        cursor: pointer;
        transition: all map.$transition;

        svg {
            width: 100%;
        }
    }

    &--round &__button {
        border-radius: 50%;

        $spacing: #{(map.$button-size + map.$button-padding * 2) * 0.1};

        &--top-left {
            left: -$spacing;
            top: -$spacing;
        }

        &--top-right {
            right: -$spacing;
            top: -$spacing;
        }

        &--bottom-left {
            left: -$spacing;
            bottom: -$spacing;
        }

        &--bottom-right {
            right: -$spacing;
            bottom: -$spacing;
        }
    }

    &--square &__button {
        &--top-left {
            left: 0;
            top: 0;
            border-bottom-right-radius: map.$radius;
        }

        &--top-right {
            right: 0;
            top: 0;
            border-bottom-left-radius: map.$radius;
        }

        &--bottom-left {
            left: 0;
            bottom: 0;
            border-top-right-radius: map.$radius;
        }

        &--bottom-right {
            right: 0;
            bottom: 0;
            border-top-left-radius: map.$radius;
        }
    }

    &--maximized &__button {
        border-radius: 50%;
        width: psv.$buttons-size;
        padding: calc(#{psv.$navbar-padding} + #{psv.$buttons-padding});

        &--top-left {
            left: map.$margin;
            top: map.$margin;
        }

        &--top-right {
            right: map.$margin;
            top: map.$margin;
        }

        &--bottom-left {
            left: map.$margin;
            bottom: map.$margin;
        }

        &--bottom-right {
            right: map.$margin;
            bottom: map.$margin;
        }
    }

    &--collapsed {
        width: 0 !important;
        height: 0 !important;
    }

    &--maximized {
        margin: 0 !important;
        width: 100% !important;
        height: 100% !important;
        bottom: 0 !important;

        &, .psv-map__container {
            border-radius: 0;
        }

        @include psv.has-navbar {
            .psv-map__toolbar,
            .psv-map__button--bottom-left,
            .psv-map__button--bottom-right {
                bottom: calc(#{psv.$navbar-height} + #{psv.$navbar-margin} + #{map.$margin});
            }
        }
    }
}
