// *** CSS VARS ***
$font-family: 'Open Sans', roboto, 'Helvetica Neue', arial, 'Noto Sans', 'Liberation Sans', sans-serif;
$bg-color: 15, 18, 20 !default;
$bg-hover-color: 228, 238, 255 !default;
$text-color: 220, 220, 220 !default;
$text-hover-color: 255, 255, 255 !default;
$border-color: 64, 77, 85 !default;
$shadow-color: 0, 0, 0 !default;
$focus-color: 0, 124, 255 !default;

// *** MAIN ***
$main-background: rgb(208, 217, 221) !default;
$element-focus-outline: 2px solid rgb(var(--psv-focus-color)) !default;

// *** LOADER ***
$loader-bg-color: rgb(var(--psv-bg-color), 0.6) !default;
$loader-filter: blur(3px) !default;
$loader-color: conic-gradient(rgb(97, 170, 242), rgb(161, 198, 89), rgb(157, 218, 230), rgb(97, 170, 242)) !default;
$loader-border: 1px solid rgb(var(--psv-border-color), 0.5) !default;
$loader-width: 150px !default;
$loader-tickness: 10px !default;
$loader-spacing: 5px !default;
$loader-text-color: rgb(var(--psv-text-color), 1) !default;
$loader-font: 300 32px var(--psv-font-family) !default;
$loader-transition: 200ms ease-in-out !default;

// *** NAVBAR ***
$navbar-height: 40px !default;
$navbar-margin: 5px !default;
$navbar-padding: 3px;
$navbar-background: rgb(var(--psv-bg-color), 0.5) !default;
$navbar-filter: blur(3px) !default;
$navbar-border: 1px solid rgb(var(--psv-border-color), 0.5) !default;
$navbar-radius: $navbar-height * .5 !default;
$navbar-fullscreen-opacity: 0.7 !default;

$caption-font: 16px var(--psv-font-family) !default;
$caption-text-color: rgb(var(--psv-text-color), 1) !default;
$caption-text-shadow: 1px 1px 0px rgb(var(--psv-shadow-color)), 0 0 5px rgb(var(--psv-shadow-color)) !default;

$buttons-size: 20px !default;
$buttons-padding: (($navbar-height - $buttons-size) * 0.5 - $navbar-padding) !default;
$buttons-background: transparent !default;
$buttons-hover-background: rgb(var(--psv-bg-hover-color), 0.3) !default;
$buttons-active-background: rgb(var(--psv-bg-hover-color), 0.2) !default;
$buttons-color: rgb(var(--psv-text-color), 0.8) !default;
$buttons-hover-color: rgb(var(--psv-text-hover-color), 1) !default;
$buttons-disabled-opacity: 0.4 !default;
$buttons-transition: 100ms ease-in-out !default;

// *** TOOLTIP ***
$tooltip-background: rgb(var(--psv-bg-color), 0.6) !default;
$tooltip-filter: blur(3px) !default;
$tooltip-animate-offset: 5px !default;
$tooltip-animate-delay: 100ms !default;
$tooltip-radius: 6px !default;
$tooltip-arrow-size: 8px !default;
$tooltip-max-width: 200px !default;

$tooltip-font: 14px var(--psv-font-family) !default;
$tooltip-text-color: rgb(var(--psv-text-color), 1) !default;
$tooltip-padding: 0.5em 1em !default;
$tooltip-text-shadow: 0 1px rgb(var(--psv-shadow-color)) !default;

// *** PANEL ***
$panel-background: rgb(var(--psv-bg-color), 0.7) !default;
$panel-filter: blur(9px) !default;
$panel-text-color: rgb(var(--psv-text-color), 1) !default;
$panel-font: 16px var(--psv-font-family) !default;
$panel-width: 400px !default;
$panel-padding: 16px !default;
$panel-transition: 200ms ease-in-out !default;

$panel-resizer-width: 10px !default;
$panel-resizer-background: rgb(var(--psv-bg-color), 0.9) !default;
$panel-resizer-grip-color: rgb(var(--psv-text-color), 1) !default;
$panel-close-button-size: 40px !default;
$panel-close-button-background: $panel-resizer-background !default;
$panel-close-button-color: rgb(var(--psv-text-color), 1) !default;
$panel-close-button-transition: 300ms ease-in-out !default;

$panel-title-font: 24px var(--psv-font-family) !default;
$panel-title-border: 1px solid rgb(var(--psv-border-color), 1) !default;

$panel-menu-item-height: 1.5em !default;
$panel-menu-item-padding: 0.5em 1em !default;
$panel-menu-item-active-outline: 1px !default;
$panel-menu-hover-background: $buttons-hover-background !default;
$panel-menu-hover-color: $buttons-hover-color !default;

// *** NOTIFICATION ***
$notification-position-from: -$navbar-height !default;
$notification-position-to: $navbar-height * 2 !default;
$notification-background: $tooltip-background !default;
$notification-filter: $tooltip-filter !default;
$notification-border: $navbar-border !default;
$notification-radius: $tooltip-radius !default;
$notification-padding: $tooltip-padding !default;
$notification-font: $tooltip-font !default;
$notification-text-color: $tooltip-text-color !default;
$notification-transition: 200ms ease-in-out !default;

// *** OVERLAY ***
$overlay-background: color-mix(in srgb, $main-background, transparent) !default;
$overlay-filter: blur(9px) !default;
$overlay-icon-color: rgb(var(--psv-bg-color), 1) !default;
$overlay-title-font: 600 30px var(--psv-font-family) !default;
$overlay-title-color: rgb(var(--psv-bg-color), 1) !default;
$overlay-text-font: 20px var(--psv-font-family) !default;
$overlay-text-color: rgb(var(--psv-bg-color), 0.8) !default;
$overlay-shadow: drop-shadow(1px 1px 0px rgb(255, 255, 255,0.5)) drop-shadow(0 0 5px rgb(255, 255, 255, 0.6)) !default;
$overlay-transition: 200ms ease-in-out !default;
$overlay-image-size: (
    portrait: 50vw,
    landscape: 50vh,
) !default;

// *** Z-INDEXES ***
$canvas-zindex: 0 !default;
$hud-zindex: 10 !default;
$polygon-marker-zindex: 20 !default;
$marker-zindex: 30 !default;
$ui-zindex: 40 !default;
$tooltip-zindex: 50 !default;
$loader-zindex: 60 !default;
$panel-zindex: 70 !default;
$notification-zindex: 80 !default;
$navbar-zindex: 90 !default;
$overlay-zindex: 100 !default;

@mixin has-navbar {
    @at-root .psv--has-navbar & {
        @content;
    }
}

@mixin is-touch {
    @at-root .psv--is-touch & {
        @content;
    }
}

@mixin is-not-touch {
    @at-root .psv-container:not(.psv--is-touch) & {
        @content;
    }
}
