@use 'vars' as psv;

.psv-loader-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: 0;
    z-index: psv.$loader-zindex;
    opacity: 0;
    transition: opacity psv.$loader-transition;

    &--visible {
        opacity: 1;
    }
}

.psv-loader {
    --psv-loader-color: #{psv.$loader-color};
    --psv-loader-spacing: #{psv.$loader-spacing};
    --psv-loader-tickness: #{psv.$loader-tickness};

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: psv.$loader-width;
    height: psv.$loader-width;
    background-color: psv.$loader-bg-color;
    backdrop-filter: psv.$loader-filter;
    outline: psv.$loader-border;
    border-radius: 50%;
    transform: scale(0);
    transition: transform psv.$loader-transition;

    @at-root .psv-loader-container--visible & {
        transform: scale(1);
    }

    &-canvas {
        position: absolute;
        inset: 0;
        z-index: -1;
    }

    &-text {
        color: psv.$loader-text-color;
        font: psv.$loader-font;
    }

    &--undefined path {
        transform-origin: center;
        animation: psv-loader 2s cubic-bezier(0.75, 0.25, 0.25, 0.75) infinite;
    }

    &--undefined &-text {
        display: none;
    }
}

@keyframes psv-loader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
