@use 'sass:list';
@use 'vars' as psv;

.psv-navbar {
    display: flex;
    position: absolute;
    z-index: psv.$navbar-zindex;
    bottom: calc(-#{psv.$navbar-height} - #{psv.$navbar-margin});
    left: 0;
    width: 100%;
    height: psv.$navbar-height;
    transition: none ease-in-out 0.1s;
    transition-property: bottom, opacity;
    cursor: default;

    &--open {
        bottom: psv.$navbar-margin;
    }

    &-group {
        flex: none;
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100% - #{psv.$navbar-padding * 2});
        background: psv.$navbar-background;
        backdrop-filter: psv.$navbar-filter;
        outline: psv.$navbar-border;
        border-radius: psv.$navbar-radius;
        margin: 0 psv.$navbar-margin;
        padding: psv.$navbar-padding;
    }

    @at-root .psv--is-fullscreen & {
        opacity: psv.$navbar-fullscreen-opacity;

        &:hover {
            opacity: unset;
        }
    }
}

.psv-button {
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: psv.$buttons-padding;
    position: relative;
    cursor: pointer;
    height: psv.$buttons-size;
    width: psv.$buttons-size;
    min-width: psv.$buttons-size;
    line-height: psv.$buttons-size;
    background: psv.$buttons-background;
    border-radius: #{psv.$navbar-radius - psv.$navbar-padding * .5};
    color: psv.$buttons-color;
    transition: all psv.$buttons-transition;

    &--active {
        background: psv.$buttons-active-background;
    }

    &--disabled {
        pointer-events: none;
        opacity: psv.$buttons-disabled-opacity;
    }

    svg, img {
        height: 100%;
    }

    &:not(#{&}--disabled):not(.psv-custom-element):focus-visible {
        outline: psv.$element-focus-outline;
    }

    @include psv.is-not-touch {
        &:not(#{&}--disabled):not(.psv-custom-element):hover {
            background: psv.$buttons-hover-background;
            color: psv.$buttons-hover-color;
        }
    }
}

// link style override
.psv-download-button {
    color: psv.$buttons-color !important;
    text-decoration: none !important;

    &::before, &::after {
        display: none !important;
    }
}

.psv-custom-button {
    width: auto;
    min-width: psv.$buttons-size;
}

.psv-custom-element {
    width: auto;
    height: 100%;
    padding: unset;
    margin: unset;
    background: unset;
    border-radius: unset;
}

.psv-caption {
    flex: 1 1 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &-content {
        font: psv.$caption-font;
        color: psv.$caption-text-color;
        text-shadow: psv.$caption-text-shadow;
        padding-left: 1em;
        padding-right: 1em;
        gap: 1ex;

        &:empty {
            display: none;
        }
    }
}
