@use 'vars' as psv;

.psv-notification {
    position: absolute;
    z-index: psv.$notification-zindex;
    bottom: psv.$notification-position-from;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    padding: 0 2em;
    opacity: 0;
    transition: none psv.$notification-transition;
    transition-property: opacity, bottom;

    &-content {
        max-width: 50em;
        background: psv.$notification-background;
        backdrop-filter: psv.$notification-filter;
        border: psv.$notification-border;
        border-radius: psv.$notification-radius;
        padding: psv.$notification-padding;
        font: psv.$notification-font;
        color: psv.$notification-text-color;
        text-align: center;
    }

    &--visible {
        opacity: 100;
        bottom: psv.$notification-position-to;
    }
}
