@use 'sass:map';
@use 'vars' as psv;

.psv-overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: psv.$overlay-zindex;
    inset: 0;
    background: psv.$overlay-background;
    backdrop-filter: psv.$overlay-filter;
    opacity: 0;
    transition: opacity psv.$overlay-transition;
    cursor: default;

    &--visible {
        opacity: 1;
    }

    &-image {
        text-align: center;
        color: psv.$overlay-icon-color;
        width: map.get(psv.$overlay-image-size, portrait);

        @container psv-container (orientation: landscape) {
            width: map.get(psv.$overlay-image-size, landscape);
        }

        svg {
            width: 100%;
        }
    }

    &-title {
        color: psv.$overlay-title-color;
        margin-top: 1em;
        font: psv.$overlay-title-font;
    }

    &-text {
        color: psv.$overlay-text-color;
        font: psv.$overlay-text-font;
    }

    & > * {
        filter: psv.$overlay-shadow;
    }
}
