@use 'sass:math';
@use 'sass:list';
@use 'vars' as psv;

$panel-resizer-grip-width: 4px;
$panel-resizer-grip-height: $panel-resizer-grip-width * 9;
$panel-close-button-unit-size: math.div(psv.$panel-close-button-size, 8);

@function make-dot-shadow($color, $h, $k) {
    $val: 0 0 $color;
    $y: 0;

    @while $y < $h {
        $y: $y + $k * 2;
        $val: #{$val}, 0px #{$y} #{$color};
    }

    @return $val;
}

.psv-panel {
    position: absolute;
    z-index: psv.$panel-zindex;
    right: 0;
    height: 100%;
    width: psv.$panel-width;
    max-width: calc(100% - #{psv.$panel-resizer-width});
    display: flex;
    flex-direction: column;
    background: psv.$panel-background;
    backdrop-filter: psv.$panel-filter;
    transform: translate3d(100%, 0, 0);
    opacity: 0;
    transition: none psv.$panel-transition;
    transition-property: opacity, transform;
    cursor: default;

    &-resizer {
        position: absolute;
        top: 0;
        left: -#{psv.$panel-resizer-width};
        width: psv.$panel-resizer-width;
        height: 100%;
        background-color: psv.$panel-resizer-background;
        cursor: col-resize;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: #{psv.$panel-resizer-width * .5 - $panel-resizer-grip-width * .5};
            margin-top: #{- $panel-resizer-grip-height * 0.5};
            width: $panel-resizer-grip-width;
            height: $panel-resizer-grip-width;
            border-radius: 50%;
            box-shadow: make-dot-shadow(
                psv.$panel-resizer-grip-color,
                $panel-resizer-grip-height,
                $panel-resizer-grip-width
            );
            background: transparent;
        }
    }

    &-header {
        flex: none;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        border-bottom: psv.$panel-title-border;

        h1 {
            color: psv.$panel-text-color;
            font: psv.$panel-title-font;
            margin: 0;
            padding: psv.$panel-padding;

            svg {
                width: 1cap;
                height: 1cap;
                margin-right: 1cap;
            }
        }
    }

    &-close-button {
        flex: none;
        position: relative;
        width: $panel-close-button-unit-size * 4;
        height: $panel-close-button-unit-size * 4;
        margin: $panel-close-button-unit-size;
        padding: $panel-close-button-unit-size * 2;
        border-radius: 50%;
        background: transparent;
        color: psv.$panel-close-button-color;
        transition: background psv.$panel-close-button-transition;
        cursor: pointer;

        svg {
            transition: transform psv.$panel-close-button-transition;
        }

        &:hover {
            background: psv.$panel-close-button-background;

            svg {
                transform: scale(-1);
            }
        }
    }

    &-content {
        flex: 1 1 100%;
        color: psv.$panel-text-color;
        font: psv.$panel-font;
        overflow: auto;

        &:not(&--no-margin) {
            padding: psv.$panel-padding;
        }

        @include psv.has-navbar {
            margin-bottom: calc(#{psv.$navbar-height} + #{2 * psv.$navbar-margin});
        }

        &--resizing {
            user-select: none;
            pointer-events: none;
        }
    }

    &--open {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }

    @container psv-container (max-width: #{psv.$panel-width}) {
        width: 100% !important;
        max-width: none;

        &-resizer {
            display: none !important;
        }
    }
}

.psv-panel-menu {
    list-style: none;
    margin: 0;
    padding: 0;

    &-item {
        min-height: psv.$panel-menu-item-height;
        padding: psv.$panel-menu-item-padding;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        transition: background psv.$buttons-transition;

        &--active {
            outline: psv.$panel-menu-item-active-outline solid currentcolor;
            outline-offset: -#{psv.$panel-menu-item-active-outline};
        }

        &-icon {
            flex: none;
            height: psv.$panel-menu-item-height;
            width: psv.$panel-menu-item-height;
            margin-right: 1cap;

            img {
                max-width: 100%;
                max-height: 100%;
            }

            svg {
                width: 100%;
                height: 100%;
            }
        }

        &:focus-visible {
            outline: psv.$element-focus-outline;
            outline-offset: -#{list.nth(psv.$element-focus-outline, 1)};
        }

        @include psv.is-not-touch {
            &:hover {
                background: psv.$panel-menu-hover-background;
                color: psv.$panel-menu-hover-color;
            }
        }
    }
}
