@use 'vars' as psv;

.psv-tooltip {
    --psv-tooltip-arrow-size: #{psv.$tooltip-arrow-size};

    position: absolute;
    z-index: psv.$tooltip-zindex;
    box-sizing: border-box;
    max-width: psv.$tooltip-max-width;
    background: psv.$tooltip-background;
    backdrop-filter: psv.$tooltip-filter;
    border-radius: psv.$tooltip-radius;
    opacity: 0;
    transition: none psv.$tooltip-animate-delay ease-in-out;
    transition-property: opacity, transform;
    color: psv.$tooltip-text-color;
    font: psv.$tooltip-font;
    text-shadow: psv.$tooltip-text-shadow;
    padding: psv.$tooltip-padding;
    cursor: default;

    &::after {
        content: '';
        position: absolute;
        height: 0;
        width: 0;
        top: var(--psv-tooltip-arrow-top);
        left: var(--psv-tooltip-arrow-left);
        border: var(--psv-tooltip-arrow-size) solid transparent;
    }

    &--top-left,
    &--top-center,
    &--top-right {
        transform: translate3d(0, psv.$tooltip-animate-offset, 0);

        &::after {
            border-top-color: psv.$tooltip-background;
        }
    }

    &--bottom-left,
    &--bottom-center,
    &--bottom-right {
        transform: translate3d(0, -#{psv.$tooltip-animate-offset}, 0);

        &::after {
            border-bottom-color: psv.$tooltip-background;
        }
    }

    &--left-top,
    &--center-left,
    &--left-bottom {
        transform: translate3d(psv.$tooltip-animate-offset, 0, 0);

        &::after {
            border-left-color: psv.$tooltip-background;
        }
    }

    &--right-top,
    &--center-right,
    &--right-bottom {
        transform: translate3d(-#{psv.$tooltip-animate-offset}, 0, 0);

        &::after {
            border-right-color: psv.$tooltip-background;
        }
    }

    &--visible {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}
