@use 'vars' as psv;

:root {
    --psv-font-family: #{psv.$font-family};
    --psv-bg-color: #{psv.$bg-color};
    --psv-bg-hover-color: #{psv.$bg-hover-color};
    --psv-text-color: #{psv.$text-color};
    --psv-text-hover-color: #{psv.$text-hover-color};
    --psv-border-color: #{psv.$border-color};
    --psv-shadow-color: #{psv.$shadow-color};
    --psv-focus-color: #{psv.$focus-color};
}

.psv-container {
    --psv-core-loaded: true;

    container-name: psv-container;
    container-type: size;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    background: psv.$main-background;
    font-family: var(--psv-font-family);
    overflow: hidden;

    * {
        box-sizing: content-box;
    }
}

.psv-canvas-container {
    position: absolute;
    inset: 0;
    z-index: psv.$canvas-zindex;
    transition: opacity linear 100ms;
}

.psv-fullscreen-emulation {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    z-index: 9999;
}
