@use '../../../core/src/styles/vars' as psv;

$progress-margin: 10px !default;
$progressbar-height: 4px !default;
$progressbar-height-active: 8px !default;
$progressbar-container: 20px !default;
$progressbar-track-color: rgb(var(--psv-bg-color), 0.4) !default;
$progressbar-progress-color: rgb(var(--psv-text-color), 0.8) !default;
$progressbar-buffer-color: rgb(var(--psv-text-color), 0.3) !default;
$progressbar-handle-size: 16px !default;
$progressbar-handle-color: rgb(var(--psv-text-color)) !default;
$progressbar-transition: 200ms ease-in-out !default;

$time-font: 14px var(--psv-font-family) !default;
$time-text-color: psv.$caption-text-color !default;
$time-text-shadow: psv.$caption-text-shadow !default;

$volume-width: 50px !default;
$volume-height: 5px !default;
$volume-bar-color: $progressbar-progress-color !default;
$volume-track-color: $progressbar-track-color !default;
$volume-handle-size: 11px !default;
$volume-handle-color: $progressbar-handle-color !default;
$volume-transition: 200ms ease-in-out !default;

$bigbutton-size: psv.$loader-width !default;
$bigbutton-color: rgb(var(--psv-text-color), 0.9) !default;
