@forward 'vars';
@use 'sass:map';
@use '../../../core/src/styles/vars' as psv;
@use 'vars' as video;

.psv-container {
    --psv-video-plugin-loaded: true;
}

.psv-video {
    &-progressbar {
        position: absolute;
        left: video.$progress-margin;
        bottom: 0;
        width: calc(100% - #{video.$progress-margin * 2});
        height: video.$progressbar-container;
        cursor: pointer;
        z-index: psv.$tooltip-zindex + 1;

        @include psv.has-navbar {
            bottom: calc(#{psv.$navbar-height} + #{psv.$navbar-margin});
        }

        & > * {
            position: absolute;
            left: 0;
            bottom: video.$progress-margin;
            width: 100%;
            height: video.$progressbar-height;
            border-radius: 100vmax;
            transition: none video.$progressbar-transition;
            transition-property: height, border-radius;

            @include psv.has-navbar {
                bottom: psv.$navbar-margin;
            }
        }

        &:hover > * {
            height: video.$progressbar-height-active;
        }

        &__track {
            background: video.$progressbar-track-color;
        }

        &__progress {
            background: video.$progressbar-progress-color;
        }

        &__buffer {
            background: video.$progressbar-buffer-color;
        }

        &__handle {
            display: none;
            height: video.$progressbar-handle-size !important;
            width: video.$progressbar-handle-size;
            border-radius: 50% !important;
            margin-bottom: #{- (video.$progressbar-handle-size - video.$progressbar-height-active) * 0.5};
            margin-left: #{- video.$progressbar-handle-size * 0.5};
            background: video.$progressbar-handle-color;
        }

        &__tooltip {
            border-radius: 100vmax;
            font: video.$time-font;
            color: video.$time-text-color;
            text-shadow: video.$time-text-shadow;

            &::after {
                display: none;
            }
        }
    }

    &-time {
        width: auto;
        gap: 0.5ex;
        font: video.$time-font;
        color: video.$time-text-color;
        text-shadow: video.$time-text-shadow;
    }

    &-volume {
        position: relative;
        width: 0;
        height: psv.$buttons-size;
        margin-left: 0;
        opacity: 0;
        border-radius: psv.$navbar-radius;
        transition: none video.$volume-transition;
        transition-property: opacity, width, margin-left;

        @include psv.is-touch {
            display: none;
        }

        &__progress,
        &__track {
            position: absolute;
            left: 0;
            top: #{(psv.$buttons-size - video.$volume-height) * 0.5};
            height: video.$volume-height;
            background: video.$volume-bar-color;
            border-radius: 100vmax;
        }

        &__track {
            width: 100%;
            background: video.$volume-track-color;
        }

        &__handle {
            position: absolute;
            top: #{(psv.$buttons-size - video.$volume-height) * 0.5};
            height: video.$volume-handle-size;
            width: video.$volume-handle-size;
            border-radius: 50%;
            margin-top: #{- (video.$volume-handle-size - video.$volume-height) * 0.5};
            margin-left: #{- video.$volume-handle-size * 0.5};
            background: video.$volume-handle-color;
        }
    }

    &-volume-button {
        width: auto;

        &:hover .psv-video-volume {
            width: video.$volume-width;
            margin-left: #{psv.$buttons-padding + video.$volume-handle-size * 0.5};
            opacity: 1;
        }

        &--0 svg {
            #lvl1,
            #lvl2,
            #lvl3 {
                fill: none;
            }
        }

        &--1 svg {
            #lvl0,
            #lvl2,
            #lvl3 {
                fill: none;
            }
        }

        &--2 svg {
            #lvl0,
            #lvl3 {
                fill: none;
            }
        }

        &--3 svg {
            #lvl0 {
                fill: none;
            }
        }
    }

    &-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: psv.$overlay-zindex;
        pointer-events: none;
    }

    &-bigbutton {
        display: block;
        border: none;
        background: none;
        padding: 0;
        color: video.$bigbutton-color;
        pointer-events: auto;
        cursor: pointer;
        opacity: 0;
        width: 0;
        transition:
            opacity 0.2s linear,
            width 0.3s step-end;

        &--pause {
            width: video.$bigbutton-size;
            opacity: 1;
            transition-timing-function: linear, step-start;
        }

        svg {
            width: 100%;
        }
    }
}
