@use '../../../core/src/styles/vars' as psv;

$padding: 15px !default;
$background: psv.$navbar-background !default;
$filter: psv.$navbar-filter !default;
$item-radius: 8px !default;
$item-active-border: 3px solid white !default;
$title-font: 16px var(--psv-font-family) !default;
$title-color: rgb(var(--psv-text-color)) !default;
$title-background: rgb(var(--psv-bg-color), 0.6) !default;
$thumb-hover-scale: 1.2 !default;
$breakpoint: 500px !default;
$arrow-color: rgb(var(--psv-text-color), 0.7) !default;
$arrow-shadow: 5px 5px 2px rgb(var(--psv-shadow-color)) !default;
$arrow-background: rgb(var(--psv-shadow-color), 0.6) !default;
$scrollbar-color: rgb(var(--psv-text-color), 0.6) !default;
$transition: 100ms ease-in-out !default;
$thumb-transition: 200ms ease-in-out !default;
